<div class="timeseries">
  {% if elements.title %}
    <div class="title">{{ elements.title }}</div>
  {% endif %}

  {% if elements.tabs %}
    <div class=tabs-wrapper">{{ elements.tabs }}</div>
  {% endif %}
</div>
